{include file="tpl/style"/}
<form role="form" id="searchForm" action="{:url('index')}" method='post' class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-12">
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 pull-left">
                <!--<div class="row">-->
                <!--{include file='tpl/addBtn' url="add" height="80%" width="30%"/}-->
                <!--</div>-->
                <a class="btn btn-default btn-block" style="background-color: green;color: white;width:200%" id="export"
                   href="javascript:void(0)" onclick="exports()">
                    <i class="fa fa-download"></i>&nbsp;&nbsp;备份
                </a>

            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <div class="row">
                    <span></span>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 pull-right">
                <div class="row">
                   <a href="javascript:void(0)" onclick="modal('{:url(\'total\')}', '已备份的数据库','80%','70%')">已备份的数据库</a>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="table-responsive">

    <table class="table table-bordered">
        <thead>
        <tr>
            <th nowrap="nowrap">表名</th>
            <th nowrap="nowrap">自动递增</th>
            <th nowrap="nowrap">创建日期</th>
            <th nowrap="nowrap">修改日期</th>
            <th nowrap="nowrap">数据长度</th>
            <th nowrap="nowrap">表类型</th>
            <th nowrap="nowrap">行</th>
            <th nowrap="nowrap">注释</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr>
            <td nowrap="nowrap">{$vo.name}</td>
            <td nowrap="nowrap">{$vo.auto_increment}</td>
            <td nowrap="nowrap">{$vo.create_time}</td>
            <td nowrap="nowrap">{$vo.update_time}</td>
            <td nowrap="nowrap">{$vo.data_length}</td>
            <td nowrap="nowrap">{$vo.engine}</td>
            <td nowrap="nowrap">{$vo.rows}</td>
            <td nowrap="nowrap">{$vo.comment}</td>

        </tr>
        {/volist}
        </tbody>
    </table>

</div>
<script>
    function exports() {
        $.ajax({
            url: "/index.php/admin/database/export",
            type: "post",
            beforeSend: function (data) {
                loadingFlag =
                    layer.msg(
                        '正在备份数据库，请稍候……',
                        {icon: 16, shade: 0.5, shadeClose: false, time: 60000}
                    );
            },
            success: function (data) {
                layer.close(loadingFlag);
                layer.msg(data.msg);
            },
        })

        // $("#export").html("<i class='icon iconfont icon-fasong'></i>正在发送备份请求...");
        // $.post('/index.php/admin/database/export', {}, function (data) {
        //     if (data.code == 0) {
        //         $("#export").html("<i class='icon iconfont icon-fasong'></i>备份成功");
        //     }
        //     setTimeout(function () {
        //         window.location.reload();
        //     }, 1000);//延迟1000毫秒
        // })
    }
</script>