<div class="col-xs-6">
    <div class="row">
        <a class="btn btn-default btn-block" onclick="updataFile()">
            <i class="fa">导入</i>
        </a>
        <div hidden>
            <input  id="updataFile" onchange="upload()" name="profilePhoto" type="file" class="fi1le-loading">
        </div>
    </div>
</div>
<script>

    function updataFile()
    {
        return  $("#updataFile").click();
    }
   function upload()
   {

        var formData = new FormData();
        formData.append("myfile", document.getElementById("updataFile").files[0]);
        //console.log(formData);

        $.ajax({
            url: "/Admin/Onlineorder/input",
            type: "POST",
            data: formData,
            /**
             *必须false才会自动加上正确的Content-Type
             */
            contentType: false,
            /**
             * 必须false才会避开jQuery对 formdata 的默认处理
             * XMLHttpRequest会对 formdata 进行正确的处理
             */
            processData: false,
            beforeSend: function (data) {
                loadingFlag =
                    layer.msg(
                        '正在导入，请稍候……',
                        {icon: 16, shade: 0.5, shadeClose: false, time: 60000}
                    );
            },
            success: function (data) {
                layer.close(loadingFlag);
                if(data.code==0){
                    layer.msg(data.msg,{time:1000, icon:6});
                    setTimeout(function () {
                        document.location.reload();
                    },1000)
                }else{
                    layer.msg(data.msg,{time:1000, icon:5});
                    // setTimeout(function () {
                    //     document.location.reload();
                    // },1000)
                }

            },
            error: function (data) {
                console.log(data)
            }
        });
    }

</script>
