{include file="tpl/style"/}
<form role="form" id="searchForm" action="{:url('member_list')}" method='post' class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-12">
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 pull-left">
                <div class="row">
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <div class="row">
                    <span></span>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 pull-right">
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th nowrap="nowrap">序号</th>
            <th nowrap="nowrap">订单编号</th>
            <th nowrap="nowrap">订单金额</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
            <tr>
                <td nowrap="nowrap">{$vo.o_id}</td>
                <td nowrap="nowrap">{$vo.o_sn}</td>
                <td nowrap="nowrap">{$vo.o_total}</td>

            </tr>
        {/volist}
        </tbody>
    </table>
    <div style="float: right;">{$pagelist}</div>
</div>
<script>
    //调用示例
    layer.photos({
        photos: '.layer-photos',
    });
</script>