{include file="tpl/style"/}
<div class="col-xs-12">
    <div class="row">

        <form class="form-horizontal" role="form" id="form" action="{:url('receiptedit')}">
            <div class="form-group">
                <input type="hidden" name="id" value="{$data.o_id}">
                {include file="tpl/input" results="data" name="o_name" label="姓名" value="o_name" attr='data-rule="required;"'/}
                {include file="tpl/input" results="data" name="o_phone" label="手机号" value="o_phone" attr='data-rule="required;"'/}
                {include file="tpl/addressEdit" results="data" name="o_regionId" label="地区" value=""   /}
                {include file="tpl/input" results="data" name="o_address" label="详细地址" value="o_address" attr='data-rule="required;"'/}
            </div>
            <div class="form-group" style="margin-top: 20px;">
                {include file="tpl/button" label="保存"/}
            </div>
        </form>
    </div>
</div>